.comp-special.card
  h2.card__title.card__title--comp Специальные
  .comp-table
    .comp-caption
      .comp-table__col.comp-col
        span.comp-caption__title Конкурс
      .comp-table__col.place-col
        span.comp-caption__title Место
      .comp-table__col.profit-col
        span.comp-caption__title Прибыль
      .comp-table__col.prognosis-col
        span.comp-caption__title Прогнозы
      .comp-table__col.rate-col
        span.comp-caption__title Рейтинг

    .comp-table__cols
      .comp-table__col.comp-col
        .comp-table__img-cont
          img.comp-table__img(src='assets/img/common/za-protiv.png' alt='За и против')
        .comp-table__info
          span.comp-table__title За и Против
          span.comp-table__date <i class='icon stage-lifetime-icon'></i> 01 июня - 31 июля 2018

      .comp-table__col.place-col
        span.comp-table__place 12

      .comp-table__col.profit-col
        span.comp-table__profit.green +3 024

      .comp-table__col.prognosis-col
        span.comp-table__prognosis 500
        .icon.check-icon

      .comp-table__col.rate-col
        .comp-table__rate