.comp-head
  .comp-head__title-cont
    h1.comp-head__title Мои конкурсы
    span.comp-head__subtitle Список конкурсов с вашим участием

  ul.comp-filters.swiper-container
    .swiper-wrapper
      .swiper-slide
        li.comp-filters__filter.active Текущие конкурсы
      .swiper-slide
        li.comp-filters__filter История достижений
      .swiper-slide
        li.comp-filters__filter Награды
