.card.card-temp
  h3.card__title Лучшие онлайн-букмекерские конторы

  ul.card-filters.swiper-container
    .swiper-wrapper
      .swiper-slide
        li.card-filters__filter.active Рейтинг редакции
      .swiper-slide
        li.card-filters__filter Рейтинг игроков
      .swiper-slide
        li.card-filters__filter Коэффициенты
      .swiper-slide
        li.card-filters__filter Линия


  .card-list
    .card-list__item
      .card-list__col.num-col
        span.card-list__num #1

      .card-list__col.image-col
        .card-list__img-cont
          img.card-list__logo(src='assets/img/@index/card/1xStavka.svg', alt='1xСтавка')

      .card-list__col.price-col
        div.card-list__price 2000&nbsp;₽

      .card-list__col.member-col
        img.card-list__member(src='assets/img/@index/card/member.svg' alt='Представитель компании')

      .card-list__col.reviews-col
        a.card-list__reviews(href='#') 36

      .card-list__col.btn-col
        a.btn.btn-light(href='#')
          span.btn__text Обзор
        a.btn(href='#')
          span.btn__text Играть


    .card-list__item
      .card-list__col.num-col
        span.card-list__num #2

      .card-list__col.image-col
        .card-list__img-cont
          img.card-list__logo(src='assets/img/@index/card/marathonbet.svg', alt='Марафон Бет')

      .card-list__col.price-col
        span.dash &mdash;

      .card-list__col.member-col
        span.dash &mdash;

      .card-list__col.reviews-col
        a.card-list__reviews(href='#') 24

      .card-list__col.btn-col
        a.btn.btn-light(href='#')
          span.btn__text Обзор
        a.btn(href='#')
          span.btn__text Играть


    .card-list__item
      .card-list__col.num-col
        span.card-list__num #3

      .card-list__col.image-col
        .card-list__img-cont
          img.card-list__logo(src='assets/img/@index/card/zenit.svg', alt='Zenit')

      .card-list__col.price-col
        span.dash &mdash;

      .card-list__col.member-col
        span.dash &mdash;

      .card-list__col.reviews-col
        a.card-list__reviews(href='#') 48

      .card-list__col.btn-col
        a.btn.btn-light(href='#')
          span.btn__text Обзор
        a.btn(href='#')
          span.btn__text Играть


    .card-list__item
      .card-list__col.num-col
        span.card-list__num #1

      .card-list__col.image-col
        .card-list__img-cont
          img.card-list__logo(src='assets/img/@index/card/leon.svg', alt='Leon')

      .card-list__col.price-col
        div.card-list__price 20 000&nbsp;₽

      .card-list__col.member-col
        img.card-list__member(src='assets/img/@index/card/member.svg' alt='Представитель компании')

      .card-list__col.reviews-col
        a.card-list__reviews(href='#') 12

      .card-list__col.btn-col
        a.btn.btn-light(href='#')
          span.btn__text Обзор
        a.btn(href='#')
          span.btn__text Играть


    .card-list__item
      .card-list__col.num-col
        span.card-list__num #1

      .card-list__col.image-col
        .card-list__img-cont
          img.card-list__logo(src='assets/img/@index/card/pari-match.svg', alt='Pari Match')

      .card-list__col.price-col
        div.card-list__price 2500&nbsp;₽

      .card-list__col.member-col
        img.card-list__member(src='assets/img/@index/card/member.svg' alt='Представитель компании')

      .card-list__col.reviews-col
        a.card-list__reviews(href='#') 11

      .card-list__col.btn-col
        a.btn.btn-light(href='#')
          span.btn__text Обзор
        a.btn(href='#')
          span.btn__text Играть


  .card__links
    a.card__link.blue(href='#')
      | Все букмекеры&nbsp;
      span.amount 24
    a.card__link.red(href='#')
      i.icon.info-icon
      | Почему наш рейтинг самый объективный
      i.icon.arrow-icon