.card.card-items
  h3.card__title С нами не соскучишься

  .card-items__list
    a.card-item(href='#')
      .card-item__img-cont
        img.card-item__img(src='assets/img/@index/card-items/pic-1.svg')
      span.card-item__title.black Участвуйте в конкурсах
      p.card-item__p Для вас большой выбор <br>конкурсов по прогнозам <br>на спорт

    a.card-item(href='#')
      .card-item__img-cont
        img.card-item__img(src='assets/img/@index/card-items/pic-2.svg')
      span.card-item__title.red Получайте бонусы
      p.card-item__p Программа лояльности <br>поощрит вас бонусами <br>за активность

    a.card-item(href='#')
      .card-item__img-cont
        img.card-item__img(src='assets/img/@index/card-items/pic-3.svg')
      span.card-item__title.purple Получайте деньги
      p.card-item__p Мы оплатим полезные статьи <br>реальными деньгами: ваше мнение <br>имеет значение
