.blog
  .blog__posts.card.card-temp
    h3.card__title Интересное в марте
      i.icon.maintheme-icon

    .main-post
      a.main-post__img-cont(href='#')
        img.main-post__img(src='assets/img/blog/blog-img.jpeg' alt='Пост')
      .main-post__content
        a.main-post__title(href='#') Сезон 2019/20 возможно не будет доигран
        .main-post__info
          span.main-post__date 20 окт, 20:00
          span.main-post__tag Футбол
        p.main-post__p Президент английской Премьер-лиги обратился к&nbsp;клубам с&nbsp;сенсационным заявлением, ведь на&nbsp;данный момент он&nbsp;уверен, что сезон 2019/20&nbsp;не будет доигран.

    .posts
      .post
        .post__img-cont
          img.post__img(src='assets/img/blog/post-1.jpeg')
        .post__content
          a.post__title(href='#') Bellator 241 перенесен
          .post__info
            span.post__date 20 окт, 20:00
            span.post__tag Футбол

      .post
        .post__img-cont
          img.post__img(src='assets/img/blog/post-2.jpeg')
        .post__content
          a.post__title(href='#') UEFA переносит матчи ЛЧ и ЛЕ
          .post__info
            span.post__date 20 окт, 20:00
            span.post__tag Футбол

      .post
        .post__img-cont.no-img
        .post__content
          a.post__title(href='#') UFC: У Гарбрандта проявилось заболевание почек
          .post__info
            span.post__date 20 окт, 20:00
            span.post__tag Футбол

      .post
        .post__img-cont.no-img
        .post__content
          a.post__title(href='#') Эвертон на карантине
          .post__info
            span.post__date 20 окт, 20:00
            span.post__tag Футбол

    .card__links
      a.card__link.blue(href='#') Все интересные записи



  .offers.card.card-temp
    h4.card__title Акции букмекеров

    .offer
      .offer__img-cont
        img.offer__img(src='assets/img/blog/offer-1.jpeg')
      .offer__content
        .offer__info
          span.offer__company Лига Ставок
          span.offer__date До 25.06
        a.offer__desc(href='#') БК «Лига Ставок» разыграет 20 автомобилей и 50 телев…

    .offer
      .offer__img-cont
        img.offer__img(src='assets/img/blog/offer-2.png')
      .offer__content
        .offer__info
          span.offer__company Лига Ставок
          span.offer__date До 25.06
        a.offer__desc(href='#') БК «Лига Ставок» разыграет 20 автомобилей и 50 телев…

    .offer
      .offer__img-cont
        img.offer__img(src='assets/img/blog/offer-3.jpeg')
      .offer__content
        .offer__info
          span.offer__company Лига Ставок
          span.offer__date До 25.06
        a.offer__desc(href='#') БК «Лига Ставок» разыграет 20 автомобилей и 50 телев…

    .offer
      .offer__img-cont
        img.offer__img(src='assets/img/blog/offer-4.jpeg')
      .offer__content
        .offer__info
          span.offer__company Лига Ставок
          span.offer__date До 25.06
        a.offer__desc(href='#') БК «Лига Ставок» разыграет 20 автомобилей и 50 телев…

    .offer
      .offer__img-cont
        img.offer__img(src='assets/img/blog/offer-5.jpeg')
      .offer__content
        .offer__info
          span.offer__company Лига Ставок
          span.offer__date До 25.06
        a.offer__desc(href='#') БК «Лига Ставок» разыграет 20 автомобилей и 50 телев…

    .offer
      .offer__img-cont
        img.offer__img(src='assets/img/blog/offer-5.jpeg')
      .offer__content
        .offer__info
          span.offer__company Лига Ставок
          span.offer__date До 25.06
        a.offer__desc(href='#') БК «Лига Ставок» разыграет 20 автомобилей и 50 телев…

    .card__links
      a.card__link.blue(href='#') Все акции
