.analytics-popover
  .analytics-popover__title-cont
    span.analytics-popover__title Ставок:&nbsp; 500

  ul.analytics-popover__list
    li.analytics-popover__item
      .analytics-popover__text-cont
        span.analytics-popover__text-bold Выиграно:&nbsp;
        span.analytics-popover__text.green +100

    li.analytics-popover__item
      .analytics-popover__text-cont
        span.analytics-popover__text-bold Расход/Аннулировано:&nbsp;
        span.analytics-popover__text 100

    li.analytics-popover__item
      .analytics-popover__text-cont
        span.analytics-popover__text-bold Проиграно:&nbsp;
        span.analytics-popover__text.red -298

    li.analytics-popover__item
      .analytics-popover__text-cont
        span.analytics-popover__text-bold В игре:&nbsp;
        span.analytics-popover__text.gray 2

    li.analytics-popover__item
      .analytics-popover__text-cont
        span.analytics-popover__text-bold Оборот:&nbsp;
        span.analytics-popover__text 10544279868

    li.analytics-popover__item
      .analytics-popover__text-cont
        span.analytics-popover__text-bold Квалификация:&nbsp;
        span.analytics-popover__text
          i.icon.check-icon
          | Пройдена


  ul.analytics-popover__links-list
    li.analytics-popover__item
      .analytics-popover__link(href='#') Мои прогнозы
    li.analytics-popover__item
      .analytics-popover__link(href='#') Все прогнозы