.prognosis
  a.prognosis__title(href='#')
    h2 Лучшие прогнозы
      span.amount 29

  .prognosis__list
    .prognosis-item
      .prognosis-item__content
        .prognosis-item__info
          span.prognosis-item__date 20 окт, 20:00
          span.prognosis-item__time 2 дн. 14 час. 32 мин.

        a.prognosis-item__title(href='#') Мельбурн Сити&nbsp;- Вестерн Сидней Уондерерс

        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='seomaestro')
          a.user__name(href='#') seomaestro

      .prognosis-item__bottom
        span.prognosis-item__bottom-text Тотал&nbsp;Б (4.50)
        a.prognosis-item__coef(href='#') 4.4


    .prognosis-item
      .prognosis-item__content
        .prognosis-item__info
          span.prognosis-item__date 20 окт, 20:00
          span.prognosis-item__time 2 дн. 14 час. 32 мин.

        a.prognosis-item__title(href='#') Уфа&nbsp;- Зенит

        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='seomaestro')
          a.user__name(href='#') seomaestro

      .prognosis-item__bottom
        span.prognosis-item__bottom-text Команда 2&nbsp;выиграет оба тайма&nbsp;&mdash; Да&nbsp;Основное...
        a.prognosis-item__coef(href='#') 4.4


    .prognosis-item
      .prognosis-item__content
        .prognosis-item__info
          span.prognosis-item__date 20 окт, 20:00
          span.prognosis-item__time 2 дн. 14 час. 32 мин.

        a.prognosis-item__title(href='#') Альбано Оливетти&nbsp;- Кенни Де&nbsp;Шеппер&nbsp;8

        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='seomaestro')
          a.user__name(href='#') seomaestro

      .prognosis-item__bottom
        span.prognosis-item__bottom-text Тотал&nbsp;Б (12.50) 1-ый Сет
        a.prognosis-item__coef(href='#') 4.4


    .prognosis-item
      .prognosis-item__content
        .prognosis-item__info
          span.prognosis-item__date 20 окт, 20:00
          span.prognosis-item__time 2 дн. 14 час. 32 мин.

        a.prognosis-item__title(href='#') Енисей II&nbsp;- Локомотив Кубань&nbsp;II

        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='seomaestro')
          a.user__name(href='#') seomaestro

      .prognosis-item__bottom
        span.prognosis-item__bottom-text Тотал&nbsp;Б (159.50) С&nbsp;ОТ
        a.prognosis-item__coef(href='#') 4.4


    .prognosis-item
      .prognosis-item__content
        .prognosis-item__info
          span.prognosis-item__date 20 окт, 20:00
          span.prognosis-item__time 2 дн. 14 час. 32 мин.

        a.prognosis-item__title(href='#') Уралочка-НТМК (жен)&nbsp;- Локомотив Калининград (жен)

        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='seomaestro')
          a.user__name(href='#') seomaestro

      .prognosis-item__bottom
        span.prognosis-item__bottom-text Точный счет (1:3)
        a.prognosis-item__coef(href='#') 4.4


    .prognosis-item.last
      h3.prognosis-item__title Разбираешься в&nbsp;спорте?
      p.prognosis-item__p Оформляй прогнозы, <br>участвуй в конкурсах, <br>выигрывай деньги!
      a.btn.btn-empty
        span.btn__text Подробнее

