.card-items
  &__list
    margin: 24px 0 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr

.card-item
  width: 100%
  text-align: center
  text-decoration: none

  &__img
    margin: 0 auto

  &__title
    margin: 12px 0 0
    display: flex
    flex-direction: column
    color: #000000
    font-size: 18px
    font-weight: 700

    &:after
      width: 50px
      height: 4px
      margin: 12px auto
      content: ''
      display: block
      border-radius: 20px

  &__title.black
    &:after
      background: #484538

  &__title.red
    &:after
      background: #FB4B4E

  &__title.purple
    &:after
      background: #9B4BFB

  &__p
    margin: 0
    color: #ACACAC
    font-size: 16px
    white-space: pre-line
