.tooltip-menu
  .menu
    .menu__title-cont
      span.menu__title Линия

    .menu__cont
      ul.menu__list-inner
        span.menu__title Все прогнозы
        li.menu__item
          a.menu__link(href='#') Лучшие
        li.menu__item
          a.menu__link(href='#') Популярные
        li.menu__item
          a.menu__link(href='#') На сегодня
        li.menu__item
          a.menu__link(href='#') На завтра

      ul.menu__list
        li.menu__item
          a.menu__link(href='#') Список конкурсов
        li.menu__item
          a.menu__link(href='#') Общие правила
        li.menu__item
          a.menu__link(href='#') Вопросы и ответы
        li.menu__item
          a.menu__link(href='#') Рейтинг капперов