.users-popover
  .users-popover__title-cont
    span.users-popover__title Участники конкурса

  ul.users-popover__list
    li.users-popover__item
      a.users-popover__link(href='#')
        .user
          .user__ava
            img(src='assets/img/common/users-popover/ava-1.png' alt='Naomí Yepes')
          span.user__name Naomí Yepes

    li.users-popover__item
      a.users-popover__link(href='#')
        .user
          .user__ava
            img(src='assets/img/common/users-popover/ava-2.png' alt='Lia Castro')
          span.user__name Lia Castro

    li.users-popover__item
      a.users-popover__link(href='#')
        .user
          .user__ava
            img(src='assets/img/common/users-popover/ava-3.png' alt='Nembo Lukeni')
          span.user__name Nembo Lukeni

    li.users-popover__item
      a.users-popover__link(href='#')
        .user
          .user__ava
            img(src='assets/img/common/users-popover/ava-4.png' alt='Ohta Kin')
          span.user__name Ohta Kin

    li.users-popover__item
      a.users-popover__link(href='#')
        .user
          .user__ava
            img(src='assets/img/common/users-popover/ava-5.png' alt='Tao Yi')
          span.user__name Tao Yi

    a.users-popover__show-more(href='#') Показать всех
