footer.footer
  nav.footer-nav
    .container
      .footer-nav__cont
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href='#') Программа лояльности
          li.footer-nav__item
            a.footer-nav__link(href='#') Политика конфиденциальности
          li.footer-nav__item
            a.footer-nav__link(href='#') Работа на сайте
          li.footer-nav__item
            a.footer-nav__link(href='#') Контакты
          li.footer-nav__item
            a.footer-nav__link(href='#') Помощь

        ul.footer-social
          li.footer-social__item
            a.footer-social__link.youtube(href='https://www.youtube.com/user/overbetting' target='_blank')
              img.footer-social__img(src='assets/img/common/footer/youtube.svg' alt='Youtube')
          li.footer-social__item
            a.footer-social__link.vk(href='https://vk.com/overbetting' target='_blank')
              img.footer-social__img(src='assets/img/common/footer/vk.svg' alt='Vk')
          li.footer-social__item
            a.footer-social__link.twitter(href='https://twitter.com/overbetting' target='_blank')
              img.footer-social__img(src='assets/img/common/footer/twitter.svg' alt='Twitter')


  .footer-content
    .container
      .footer-content__cont
        ul.menu
          h3.menu__title Прогнозы и конкурсы
          .menu__col.menu__col--1
            li.menu__item
              a.menu__link(href='#') Все прогнозы
            ul.menu__list-inner
              li.menu__item
                a.menu__link(href='#') Лучшие
              li.menu__item
                a.menu__link(href='#') Популярные
              li.menu__item
                a.menu__link(href='#') На сегодня
              li.menu__item
                a.menu__link(href='#') На завтра

            ul.menu.competition
              li.menu__item
                a.menu__link(href='#') Список конкурсов
              li.menu__item
                a.menu__link(href='#') Общие правила
              li.menu__item
                a.menu__link(href='#') Вопросы и ответы
              li.menu__item
                a.menu__link(href='#') Рейтинг капперов

        ul.menu.media-col-1
          h3.menu__title Конкурсы

        ul.menu
          h3.menu__title Линия
          li.menu__item
            a.menu__link(href='#') Популярное
          li.menu__item
            a.menu__link(href='#') Футбол
          li.menu__item
            a.menu__link(href='#') Хоккей
          li.menu__item
            a.menu__link(href='#') Теннис
          li.menu__item
            a.menu__link(href='#') Баскетбол

        ul.menu
          h3.menu__title Предматч
          li.menu__item
            a.menu__link(href='#') Популярное
          li.menu__item
            a.menu__link(href='#') Футбол
          li.menu__item
            a.menu__link(href='#') Хоккей
          li.menu__item
            a.menu__link(href='#') Теннис
          li.menu__item
            a.menu__link(href='#') Баскетбол

        ul.menu
          h3.menu__title Букмекеры
          li.menu__item
            a.menu__link(href='#') Рейтинг редакции
          ul.menu__list-inner
            li.menu__item
              a.menu__link(href='#') Коэффициенты (маржа)
            li.menu__item
              a.menu__link(href='#') Линия и роспись
          li.menu__item
            a.menu__link(href='#') Рейтинг игроков

        .menu__col.menu__col--2
          ul.menu
            h3.menu__title Практика
            li.menu__item
              a.menu__link(href='#') Важно и полезно
            li.menu__item
              a.menu__link(href='#') Вопросы и ответы
            li.menu__item.media-disabled
              a.menu__link(href='#') Обучение

        ul.menu.notes
          h3.menu__title Записи
          li.menu__item
            a.menu__link(href='#') Все записи
          li.menu__item
            a.menu__link(href='#') Все рубрики
          li.menu__item.media-disabled
            a.menu__link(href='#') Все авторы


  .footer-bottom
    .container
      .footer-bottom__cont
        .footer-bottom__col.footer-bottom__col--col-1
          picture
            source(media='(max-width: 1199px)' srcset='assets/img/common/footer/logo-1199.svg')
            img.footer-bottom__logo(src='assets/img/common/footer/logo.svg' alt='Overbetting')
          p.footer-bottom__text © 2018 Overbetting — ставки, прогнозы, букмекеры.

        .footer-bottom__col.footer-bottom__col--col-2
          .footer-bottom__icon
            span.footer-bottom__icon-text 18+
          p.footer-bottom__text Мы не принимаем оплату и не проводим игр на реальные деньги. <br>Вся информация носит ознакомительный характер.

        .footer-bottom__col.footer-bottom__col--col-3
          .footer-bottom__icon
            span.footer-bottom__icon-text !
          p.footer-bottom__text Запрещена перепечатка любых материалов без согласования. <br>Свяжитесь с нами прежде, чем что-либо скопировать.