.reviews
  a.reviews__title(href='#')
    h2 Отзывы и обзоры БК
    span.amount 31 <i class='icon refresh-icon'></i>


  .reviews-list
    .reviews-item
      .reviews-item__img-cont
        img.reviews-item__img(src='assets/img/@index/reviews/leon.svg' alt='Leon')
      .reviews-item__content
        .reviews-item__stars-cont
          span.reviews-item__stars-amount 8 из 10
          .reviews-item__stars
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon
            i.icon.star-icon
        a.reviews-item__p(href='#') У&nbsp;конторы откровенно слабая техническая сторона. Приведу несколько примеров, почему в&nbsp;конторе порой очень сложно играть... При&nbsp;7:5&nbsp;в пляжном...

      .reviews-item__info
        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='seomaestro')
          span.user__name seomaestro

        .reviews-item__stats
          a.likes(href='#')
            i.icon.like-icon
            span.likes__amount 35
          a.dislikes(href='#')
            i.icon.dislike-icon
            span.dislikes__amount 0
          a.comments(href='#')
            i.icon.comments-icon
            span.comments__amount 26


    .reviews-item
      .reviews-item__img-cont
        img.reviews-item__img(src='assets/img/@index/reviews/888.svg' alt='888.ru')
      .reviews-item__content
        .reviews-item__stars-cont
          span.reviews-item__stars-amount 6 из 10
          .reviews-item__stars
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon.fill
            i.icon.star-icon
            i.icon.star-icon
            i.icon.star-icon
            i.icon.star-icon
        a.reviews-item__p(href='#') Сказал уже о&nbsp;плохой работе программистов, о&nbsp;постоянных технических сбоях и&nbsp;плохих выплатах. Теперь хочу рассказать о&nbsp;бонусной данной конторы.

      .reviews-item__info
        .user
          .user__ava
            img(src='assets/img/common/ava.jpg' alt='Ilya Vasin')
          span.user__name Ilya Vasin

        .reviews-item__stats
          a.likes(href='#')
            i.icon.like-icon
            span.likes__amount 35
          a.dislikes(href='#')
            i.icon.dislike-icon
            span.dislikes__amount 0
          a.comments(href='#')
            i.icon.comments-icon
            span.comments__amount 26


    .reviews-item.last
      span.reviews-item__title Отзыв за рубли
      p.reviews-item__desc Пишите отзывы на БК <br>и получайте деньги
      a.btn.btn-empty(href='#')
        span.btn__text Написать отзыв на БК