.analytics
  h2.analytics__title Предматчевая аналитика
    i.icon.maintheme-icon


  .card.card-temp.analytics-list
    .analytics-item
      .analytics-item__col.img-col
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-1.jpg', alt='Нижний Новгород')
        .analytics-item__logo-cont.no-logo

      .analytics-item__col.info-col
        a.analytics-item__title(href='#') Нижний Новгород - Крылья Советов
        .analytics-item__info
          span.analytics-item__date 18 марта, 20:00
          a.analytics-item__link(href='#') Прогнозы&nbsp;
            span.amount 14

      .analytics-item__col.coef-col
        .preview-coef
          span.preview-coef__prop П1
          a.preview-coef__val(href='#') 18.99
        .preview-coef
          span.preview-coef__prop Х
          a.preview-coef__val(href='#') 3.00
        .preview-coef
          span.preview-coef__prop П2
          a.preview-coef__val(href='#') 2.20


    .analytics-item
      .analytics-item__col.img-col
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-2.jpg', alt='АК Барс')
        .analytics-item__logo-cont.no-logo

      .analytics-item__col.info-col
        a.analytics-item__title(href='#') АК Барс - Салават Юлаев
        .analytics-item__info
          span.analytics-item__date 18 марта, 20:00
          a.analytics-item__link(href='#') Прогнозы&nbsp;
            span.amount 14

      .analytics-item__col.coef-col
        .preview-coef
          span.preview-coef__prop П1
          a.preview-coef__val(href='#') 18.99
        .preview-coef
          span.preview-coef__prop Х
          a.preview-coef__val(href='#') 3.00
        .preview-coef
          span.preview-coef__prop П2
          a.preview-coef__val(href='#') 2.20


    .analytics-item
      .analytics-item__col.img-col
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-3.jpg', alt='Александр Чепик')
        .analytics-item__logo-cont.no-logo

      .analytics-item__col.info-col
        a.analytics-item__title(href='#') Александр Чепик - Даниил Ким
        .analytics-item__info
          span.analytics-item__date 18 марта, 20:00
          a.analytics-item__link(href='#') Прогнозы&nbsp;
            span.amount 14

      .analytics-item__col.coef-col
        .preview-coef
          span.preview-coef__prop П1
          a.preview-coef__val(href='#') 18.99
        .preview-coef
          span.preview-coef__prop Х
          a.preview-coef__val(href='#') 3.00
        .preview-coef
          span.preview-coef__prop П2
          a.preview-coef__val(href='#') 2.20


    .analytics-item
      .analytics-item__col.img-col
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-5.jpg', alt='Динамо')
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-6.jpg', alt='Оренбург')

      .analytics-item__col.info-col
        a.analytics-item__title(href='#') ФК Динамо Москва - Оренбург
        .analytics-item__info
          span.analytics-item__date 18 марта, 20:00
          a.analytics-item__link(href='#') Прогнозы&nbsp;
            span.amount 14

      .analytics-item__col.coef-col
        .preview-coef
          span.preview-coef__prop П1
          a.preview-coef__val(href='#') 18.99
        .preview-coef
          span.preview-coef__prop Х
          a.preview-coef__val(href='#') 3.00
        .preview-coef
          span.preview-coef__prop П2
          a.preview-coef__val(href='#') 2.20


    .analytics-item
      .analytics-item__col.img-col
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-4.jpg', alt='Чертаново')
        .analytics-item__logo-cont
          img.analytics-item__logo(src='assets/img/analytics/logo-7.jpg', alt='Крылья Советов')

      .analytics-item__col.info-col
        a.analytics-item__title(href='#') Чертаново - Крылья Советов
        .analytics-item__info
          span.analytics-item__date 18 марта, 20:00
          a.analytics-item__link(href='#') Прогнозы&nbsp;
            span.amount 14

      .analytics-item__col.coef-col
        .preview-coef
          span.preview-coef__prop П1
          a.preview-coef__val(href='#') 18.99
        .preview-coef
          span.preview-coef__prop Х
          a.preview-coef__val(href='#') 3.00
        .preview-coef
          span.preview-coef__prop П2
          a.preview-coef__val(href='#') 2.20


    .card__links
      a.card__link.blue(href='#') Все события
