.card.card-slider
  h2.card__title Конкурсы

  .card-swiper.swiper-container
    .swiper-wrapper
      .swiper-slide
        .card-slider__slide
          .card-slider__img-cont
            img.card-slider__img(src='assets/img/card-slider/atp.jpg' alt='')
          span.card-slider__title Эксперт АТР
          p.card-slider__subtitle Призовые: 1500 ₽
          span.card-slider__desc Ежемесячно


      .swiper-slide
        .card-slider__slide
          .card-slider__img-cont
            img.card-slider__img(src='assets/img/card-slider/wta.jpg' alt='')
          span.card-slider__title Эксперт WTA
          p.card-slider__subtitle Призовые: 1500 ₽
          span.card-slider__desc Каждые 2 дня


      .swiper-slide
        .card-slider__slide
          .card-slider__img-cont
            img.card-slider__img(src='assets/img/card-slider/kapper.jpg' alt='')
          span.card-slider__title 1xBet каппер
          p.card-slider__subtitle Призовые: 1500 ₽
          span.card-slider__desc Каждый день


      .swiper-slide
        .card-slider__slide
          .card-slider__img-cont
            img.card-slider__img(src='assets/img/card-slider/atp.jpg' alt='')
          span.card-slider__title Эксперт АТР
          p.card-slider__subtitle Призовые: 1500 ₽
          span.card-slider__desc Ежемесячно


      .swiper-slide
        .card-slider__slide
          .card-slider__img-cont
            img.card-slider__img(src='assets/img/card-slider/atp.jpg' alt='')
          span.card-slider__title Эксперт АТР
          p.card-slider__subtitle Призовые: 1500 ₽
          span.card-slider__desc Ежемесячно


      .swiper-slide
        .card-slider__slide
          .card-slider__img-cont
            img.card-slider__img(src='assets/img/card-slider/atp.jpg' alt='')
          span.card-slider__title Эксперт АТР
          p.card-slider__subtitle Призовые: 1500 ₽
          span.card-slider__desc Ежемесячно
