.comp-seat-n-go.card
  h2.card__title.card__title--comp Сит-Н-Гоу
  .comp-table
    .comp-caption
      .comp-table__col.comp-col
        span.comp-caption__title Конкурс
      .comp-table__col.place-col
        span.comp-caption__title Место
      .comp-table__col.perc-col
        span.comp-caption__title % от банка
      .comp-table__col.prognosis-col
        span.comp-caption__title Прогнозы
      .comp-table__col.rate-col
        span.comp-caption__title Рейтинг


    .comp-table__cols
      .comp-table__col.comp-col
        .comp-table__img-cont
          img.comp-table__img(src='assets/img/@index/card-slider/wta.jpg' alt='Общий зачет')
        .comp-table__info
          span.comp-table__title Эксперт НБА
          span.comp-table__date <i class='icon clock-icon'></i> Набор участников

      .comp-table__col.place-col
        span.comp-table__place <i class='icon clock-icon'></i>
        span.comp-table__members-text 200 участников

      .comp-table__col.perc-col
        span.comp-table__perc.dash —

      .comp-table__col.prognosis-col
        span.comp-table__prognosis.dash —

      .comp-table__col.rate-col
        .comp-table__users


    .comp-table__cols
      .comp-table__col.comp-col
        .comp-table__img-cont
          img.comp-table__img(src='assets/img/@index/card-slider/atp.jpg' alt='Общий зачет')
        .comp-table__info
          span.comp-table__title Эксперт НБА
          span.comp-table__date <i class='icon stage-lifetime-icon'></i> Старт через 10ч. 32 мин.

      .comp-table__col.place-col
        span.comp-table__place <i class='icon clock-icon'></i>
        span.comp-table__members-text 30 участников

      .comp-table__col.perc-col
        span.comp-table__perc.dash —

      .comp-table__col.prognosis-col
        span.comp-table__prognosis.dash —

      .comp-table__col.rate-col
        .comp-table__users


    .comp-table__cols
      .comp-table__col.comp-col
        .comp-table__img-cont
          img.comp-table__img(src='assets/img/@index/card-slider/wta.jpg' alt='Общий зачет')
        .comp-table__info
          span.comp-table__title Эксперт НХЛ
          span.comp-table__date <i class='icon stage-lifetime-icon'></i> 1 мар - 30 апр 2019

      .comp-table__col.place-col
        span.comp-table__place 100
        span.comp-table__members-text 30 участников

      .comp-table__col.perc-col
        span.comp-table__perc +13.10%<span class='sup'>+655</span>

      .comp-table__col.prognosis-col
        span.comp-table__prognosis 500
        .icon.check-icon

      .comp-table__col.rate-col
        .comp-table__rate


    .comp-table__cols
      .comp-table__col.comp-col
        .comp-table__img-cont
          img.comp-table__img(src='assets/img/@index/card-slider/wta.jpg' alt='Общий зачет')
        .comp-table__info
          span.comp-table__title 1xBet Каппер
          span.comp-table__date <i class='icon stage-lifetime-icon'></i> 01 июня - 31 июля 2018

      .comp-table__col.place-col
        span.comp-table__place 50
        span.comp-table__members-text 30 участников

      .comp-table__col.perc-col
        span.comp-table__perc +30.20%<span class='sup'>+1500</span>

      .comp-table__col.prognosis-col
        span.comp-table__prognosis 1
        .icon.check-icon

      .comp-table__col.rate-col
        .comp-table__rate