.comp-common.card
  .comp-table
    .comp-caption
      .comp-table__col.comp-col
        span.comp-caption__title Конкурс
      .comp-table__col.perc-col
        span.comp-caption__title % от банка
      .comp-table__col.roi-col
        span.comp-caption__title ROI
      .comp-table__col.prognosis-col
        span.comp-caption__title Прогнозы
      .comp-table__col.rate-col
        span.comp-caption__title Рейтинг

    .comp-table__cols
      .comp-table__col.comp-col
        .comp-table__img-cont
          img.comp-table__img(src='assets/img/@index/card-slider/atp.jpg' alt='Общий зачет')
        .comp-table__info
          span.comp-table__title Общий зачёт
          span.comp-table__date <i class='icon stage-lifetime-icon'></i> 1 мар - 30 апр 2020

      .comp-table__col.perc-col
        span.comp-table__perc.green +30.20%<span class='sup'>+1500</span>
        span.comp-table__place-text 1 место

      .comp-table__col.roi-col
        span.comp-table__perc.green +100.23%<span class='sup'>+1500</span>
        span.comp-table__place-text 10 место

      .comp-table__col.prognosis-col
        span.comp-table__prognosis 500
        .icon.check-icon

      .comp-table__col.rate-col
        .comp-table__rate