extends template.pug

block content
  //- Include Header block ('.header')
  include assets/blocks/header/block.pug


  - const page = 'index'
  div(class='content '+ page +'')
    .container
      .main-content
        //- Include Card block ('.card')
        include assets/blocks/card/block.pug

        //- Include Card block ('.card')
        include assets/blocks/card/block.pug

        //- Include Card-items block ('.card-items')
        include assets/blocks/card-items/block.pug

        // //- Include Analytics block ('.analytics')
        // include assets/blocks/analytics/block.pug

        //- Include Prognosis block ('.prognosis')
        include assets/blocks/prognosis/block.pug

        //- Include Card-slider block ('.card-slider')
        include assets/blocks/card-slider/block.pug

        //- Include Reviews block ('.reviews')
        include assets/blocks/reviews/block.pug

        //- Include Blog block ('.blog')
        include assets/blocks/blog/block.pug


      .sidebar-content
        //- Include Sidebar block ('.sidebar')
        include assets/blocks/sidebar/block.pug


  //- Include Footer block ('.footer')
  include assets/blocks/footer/block.pug
